# OS/IDE
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Python envs
.venv/
venv/
env/
.ipynb_checkpoints/

# TensorBoard logs
runs/

# Office temporary files
**/~$*.xls*
**/~$*.doc*
**/~$*.ppt*

# Build
dist/
build/


